# --- DATABASE CONFIG (AIVEN) ---
AIVEN_HOST=mysql-3b8a4df-hellcroe.g.aivencloud.com
AIVEN_PORT=19513
AIVEN_USER=avnadmin
AIVEN_PASSWORD=AVNS_rYI7NMjmgxZ3No8QaxW
AIVEN_DATABASE=defaultdb

# --- REAL-TIME CHAT (PUSHER) ---
PUSHER_APP_ID=2143195
PUSHER_KEY=0546780f85fe17efd982
PUSHER_SECRET=f9039e77d4d2da2f7894
PUSHER_CLUSTER=ap3

# --- EXTERNAL STATS ---
BW_API_BASE=http://srv125.godlike.club:26239/api/v1
BW_API_KEY=bw_91e25e30cd3ce741b9098925c8513ceadf5d3ab1

# --- STAFF ALERTS ---
STAFF_WEBHOOK=https://discord.com/api/webhooks/1495099642671792261/LA6pwnEjA74swShTjPwX5qT5iBh_xHUBh6elQS8RK_OZF7anxO5hsXoIlBUsPSRvPavj

# --- DISCORD BOT ---
HC_BOT_SECRET=hellcore-secret-123
DISCORD_TOKEN=your_discord_bot_token_here
API_BASE_URL=http://localhost:5000

