# Node
node_modules/
dist/
dist-ssr/
*.log

# Database
hellcore.db
*.sqlite3

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
*.pyc

# Env / Credentials
.env
*.env.local
secret.json

# IDEs / Editor / OS
.vscode/
.idea/
*.swp
*.swo
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store

# Java / Maven
target/
*.class
*.jar
*.war
*.ear
.mvn/
.classpath
.project
.settings/
dependency-reduced-pom.xml
